<!-- start tabblock -->
        <div class="tab_block2">
        	<!-- start tab_nav -->
            <div class="tab_nav">
            	<ul>
                	<li><a href="/Patients/index" class="active"><?php echo $this->Html->image('ico_patents.png', array('alt' => 'Patients'));?> Patients</a></li>
                    <li><a href="/Facilities/index"><?php echo $this->Html->image('ico_facilities.png', array('alt' => 'Facilities'));?>Facilities</a></li>           
                    <li><a href="/Providers/index"><?php echo $this->Html->image('ico_providers.png', array('alt' => 'Providers'));?>Providers</a></li>
                </ul>
             </div>	
             <!-- end tab_nav -->
             <!-- tab content -->
             <div class="tab_block2_content">
             	<!-- tab left -->
                <div class="tab_block2_left">
                <form action="/Patients/index" class="search" method="post" name="searchFilter">
                <div>
                	<!-- row1 -->
                    <div class="row1">
                    	<label for="searchfield">Search</label>
                        <input type="text" name="searchfield" id="searchfield" value="" class="input1" />
                        <input type="button" name="search" value="" class="button1" onClick="document.searchFilter.submit();"/>
                    </div>
                    <!-- row1 -->
                    <!-- row2 -->
                    <div class="row1">
                    	<label for="listmenu1">Filter</label>
                    	<?php
							echo $this->Form->input('facilities', array(
    							'options' => $facilities,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All Facilities'));
						?>
                    </div>
                    <!-- row2 -->
                    <div class="row1">
                    	<label for="listmenu2">Filter</label>
                    	<?php
							echo $this->Form->input('regions', array(
    							'options' => $regions,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All Regions'));
						?>
                    </div>
                    <!-- row3 -->
                    <div class="row1">
                    	<label for="listmenu2">Filter</label>
                        <?php
							echo $this->Form->input('providers', array(
    							'options' => $providers,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All Providers'));
						?>
                    </div>
                    <!-- row3 -->
                    <!-- row4 -->
                    <div class="row1">
                    	<label for="check" class="check"><input type="checkbox" name="inactive" id="inactive" class="left" /> Include Inactive</label>
                    </div>
                    <!-- row4 -->
                    <input type="button" name="add" value="" class="button2" onClick="document.location.href='/Patients/Edit/0';"/>
                </div>
                </form>
                </div>
                <!-- tab left -->
                <!-- tab right -->
                <div class="tab_block2_right table_box">
                	<!-- th1 -->
                	<table id="data">
                		<thead >
                			<tr class="th1">
                				<th class="td1">Name</th>
                				<th class="td2">Facility</th>
                				<th class="td2">Last Provider</th>
                				<th class="td3">F/U Date</th>
                				<th class="td4">Status</th>
                			</tr>
                		</thead>
                   		<tbody>

                    		 <?php $x=0; foreach($patients as $patient) : $x+=1;?>
                    		 	<tr class="tr1">
                    		 		<td class="td1 td5"><?php echo ucwords(strtolower($patient['Patient']['last_name'] . ", " . $patient['Patient']['first_name'])); ?></td>
                        			<td class="td2 td6" title="<?php echo $patient['Facility']['name'];?>"><?php echo $patient['Facility']['abbreviation']; ?></td>
                        			<td class="td2 td7"><?php echo $x; ?></td>
                        			<td class="td3 td8"></td>
                        			<td class="td4 td8">
			                        	<span class="status">
			                        		<?php if ($patient['Patient']['pa_status'] == 'Active'): ?>
			                        			<?php echo $this->Html->image('img_pic1.gif', array('alt' => 'PA Active', 'title'=>'Psychiatry'));?>
			                        		<?php else:?>
			                        			<?php echo $this->Html->image('img_pic2.gif', array('alt' => 'PA Inactive', 'title'=>'Psychiatry'));?>
			                        		<?php endif;?>
			                        	</span>
			                        	
			                        	<span class="status">
			                        		<?php if ($patient['Patient']['po_status'] == 'Active'): ?>
			                        			<?php echo $this->Html->image('img_pic3.gif', array('alt' => 'NPA Active', 'title'=>'NP/PA Psychiatry'));?>
			                        		<?php else:?>
			                        			<?php echo $this->Html->image('img_pic4.gif', array('alt' => 'NPA Inactive', 'title'=>'NP/PA Psychiatry'));?>
			                        		<?php endif;?>
			                        	</span>
			                        	
			                        	<span class="status">
			                        		<?php if ($patient['Patient']['sw_status'] == 'Active'): ?>
			                        			<?php echo $this->Html->image('img_pic5.gif', array('alt' => 'PO Active', 'title'=>'Psychology'));?>
			                        		<?php else:?>
			                        			<?php echo $this->Html->image('img_pic6.gif', array('alt' => 'PO Inactive', 'title'=>'Psychology'));?>
			                        		<?php endif;?>
			                        	</span>
			                        	
			                        	<span class="status">
			                        		<?php if ($patient['Patient']['npa_status'] == 'Active'): ?>
			                        			<?php echo $this->Html->image('img_pic7.gif', array('alt' => 'SW Active', 'title'=>'Social Work'));?>
			                        		<?php else:?>
			                        			<?php echo $this->Html->image('img_pic8.gif', array('alt' => 'SW Inactive', 'title'=>'Social Work'));?>
			                        		<?php endif;?>
			                        	</span>
			
			                            <a href="/Patients/Edit/<?php echo $patient['Patient']['id']; ?>" class="detail">Details</a>
			                        </td>
                    		 	</tr>
                    		 <?php endforeach; ?>
                		</tbody>
                	</table>
                <!-- end table box -->
                </div>
                <!-- tab right -->
             </div>
             <!-- tab content -->
        <div class="clear"></div>
        </div>
        <!-- end tabblock -->
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#data').dataTable( {
					"sScrollY": "450px",
					"bPaginate": false,
					"bFilter": false,
					"bInfo": false,
					"oLanguage": {
			            "sZeroRecords": "No records to display"
			        }
				} );
			} );
		</script>