<!-- start tabblock -->
<div class="tab_block2">
	<!-- start tab_nav -->
	<div class="tab_nav">
		<ul>
			<li><a href="/Patients/index"><?php echo $this->Html->image('ico_patents.png', array('alt' => 'Patients'));?> Patients</a></li>
			<li><a href="/Facilities/index"><?php echo $this->Html->image('ico_facilities.png', array('alt' => 'Facilities'));?>Facilities</a></li>           
			<li><a href="/Providers/index" class="active"><?php echo $this->Html->image('ico_providers.png', array('alt' => 'Providers'));?>Providers</a></li>
		</ul>
	</div>	
	<!-- end tab_nav -->
             
	<!-- tab content -->
	<div class="tab_block2_content">
		<!-- tab left -->
		<div class="tab_block2_left">
			<form action="/Providers/index" class="search" method="post" name="searchFilter">
				<div>
					<!-- row1 -->
                    <div class="row1">
                    	<label for="field1">Search</label>
                        <input type="text" name="field" id="field1" value="" class="input1" />
                        <input type="button" name="search" value="" class="button1" onClick="document.searchFilter.submit();"/>
                    </div>
                    <!-- row1 -->
                    
                    <!-- row2 -->
                    <div class="row1">
                    	<label for="listmenu1">Filter</label>
                    	<?php
							echo $this->Form->input('regions', array(
    							'options' => $regions,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All Regions'));
						?>
                    </div>
                    <!-- row2 -->
                    
                    <!-- row3 -->
                    <div class="row1">
                    	<label for="listmenu2">Filter</label>
                        <?php
							echo $this->Form->input('services', array(
    							'options' => $services,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All Services'));
						?>
                    </div>
                    <!-- row3 -->
                    
                    <!-- row4 -->
                    <div class="row1">
                    	<label for="check" class="check"><input type="checkbox" name="check" id="check" class="left" /> Include Inactive</label>
                    </div>
                    <!-- row4 -->
                    
                    <input type="button" name="add" value="" class="button2" onClick="document.location.href='/Providers/Edit/0';"/>
                </div>
			</form>
		</div>
		<!-- tab left -->
		
		<!-- tab right -->
		
		<!-- table box -->
		<div class="tab_block2_right table_box">
                	
			<table id="data" class="datatable">
				<!-- th1 -->
				<thead>
					<tr class="th1">
						<th class="td" style="width:125px;"><span class="colHeader">Name</span></th>
						<th class="td" style="width:50px;"><span class="colHeader">Title</span></th>
						<th class="td" style="width:50px;"><span class="colHeader">Group</span></th>
						<th class="td" style="width:90px;""><span class="colHeader">Phone</span></th>
						<th class="td" style="width:140px;"><span class="colHeader">Email</span></th>
						<th class="td" style="width:220px;"><span class="colHeader">Last Payroll</span></th>
					</tr>
				</thead>
				<!--  End th1 -->
				
				<!--  table body -->
				<tbody>
					<?php foreach($providers as $provider) : ?>
					<tr class="tr1">	
						<td class="td" style="width:125px;"><?php echo $provider['Provider']['last_name'] . ", " . $provider['Provider']['first_name']; ?></td>
						<td class="td" style="width:50px;"><?php echo $provider['Provider']['title']; ?></td>
						<td class="td" style="width:50px;"><?php echo $provider['ProviderType']['service_type']; ?></td>
						<td class="td" style="width:90px;"><?php echo $provider['Provider']['phone']; ?></td>
						<td class="td" style="width:140px;"><?php echo $provider['Provider']['email']; ?></td>
						<td class="td" style="width:220px;">
							<table border="0" class="actions" width="100%">
								<tr>
									<td style="width:86px"><?php echo $provider['Provider']['payperiod_status']; ?></td>
									<td>&nbsp;<a class="detail" href="/Providers/Edit/<?php echo $provider['Provider']['id']; ?>">Details</a></td>
									<td>&nbsp;<a href="#">PVF</a></td>
									<td>&nbsp;<a href="#">Payroll</a></td>
								</tr>
							</table>
						</td>
						</td
					</tr>
					<?php endforeach; ?>
				</tbody>
				<!--  End table body -->
			</table>
		</div>
		<!-- end tab right -->
		
	</div>
	<!-- tab content -->
	<div class="clear"></div>
</div>

<!-- end tabblock -->
<!-- 			"sScrollY": "450px", -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		
		var oTable = $('#data').dataTable( {
			"sScrollY": "450px",
			"bPaginate": false,
			"bFilter": true,
			"bInfo": false,
	        "aoColumns": [null, null,null, null, null, { "bSortable": false }],
	        "oLanguage": {
	            "sZeroRecords": "No records to display"
	        }
		} );
		
		$("#data_filter").hide();
		$(".datatable").css('width', '722px');
		
		$("#services", this).change( function () {
            oTable.fnFilter($(this).val(), 2, false, false);
        } );
	 
	});
</script>