<style type="text/css">
#editform .errormsg {
	padding: 10px 10px 0 10px;
	width: auto;
	float: none;
}

</style>
<?php echo $this->Form->create('ProviderType', array('id'=>'editform'));?>
<!-- start tabblock -->
<div class="tab_block2">
	<!-- start tab_nav -->
	 <?php 
		if ($this->data['ProviderType']['id'] == 0) :
			echo $this->element('titleBar', array('returnLink' => '/admin/ProviderTypes/view', 'title'=>'System Maintenance: Payment Types Add', 'save'=>TRUE)); 
		else :	
			echo $this->element('titleBar', array('returnLink' => '/admin/ProviderTypes/view', 'title'=>'System Maintenance: Payment Types Edit', 'save'=>TRUE));
		endif;
	?>	
	<!-- end tab_nav -->
             
	<!-- tab content -->
	<div class="tab_block2_content">
		<!-- tab left -->
		<div class="tab_block2_left">
			<?php echo $this->element('system_maintenance'); ?>
		</div>
		<!-- tab left -->
		
		<!-- tab right -->
		<!-- table box -->
		<div class="tab_block2_right">
				<div class="errormsg" style="display:none;color: red;height:30px;font-weight:bold;font-size:14px;">
      				<img src="/img/warning.gif" alt="Warning!" width="24" height="24" style="float:left; margin: -5px 10px 0px 0px; ">
      				<span></span><br clear="all">
    			</div>
				<div class="admin form">
					<fieldset>
						<div class="input text required">
							<label for="ProviderTypeName">Provider Type:</label>
							<?php echo $this->Form->input('ProviderType.name', array('label'=>false,'div'=>false,'size'=>30,'id'=>'name','name'=>'name')); ?>
						</div>
						<div class="input text required">
							<label for="ProviderTypeService">Service Type:</label>
							<?php echo $this->Form->input('ProviderType.service_type', array('label'=>false,'div'=>false,'id'=>'servicetypeid','class'=>'select required','name'=>'servicetypeid','options'=>$serviceTypes,'empty'=>'Service Type')); ?>
						</div>
						<div class="input text required">
							<label for="ProviderTypeStatus">Status:</label>
							<?php echo $this->Form->input('ProviderType.status', array('label'=>false,'div'=>false,'id'=>'status','class'=>'select required','name'=>'status','options'=>$status)); ?>
						</div>
						<div class="input text required">
							<label for="ProviderTypeCreatedBy">Created By:</label>
							<?php 
								if (isset($this->data['Created']['username']) && !empty($this->data['Created']['username'])) :
									echo $this->data['Created']['username'] . " (" . $this->data['Created']['first_name'] . " " .  $this->data['Created']['last_name'] . ")";
								else:
									echo 'N/A';
								endif;
							?>
						</div>
						<div class="input text required">
							<label for="ProviderTypeCreated" >Created On:</label>
							<?php 
								if (isset($this->data['ProviderType']['created']) && !empty($this->data['ProviderType']['created'])) :
									echo $this->Time->format('m/d/Y h:i:s a', $this->data['ProviderType']['created']);
								else:
									echo '&nbsp';
								endif;
							?>
						</div>
						<div class="input text required">
							<label for="ProviderTypeModifedBy" >Modified By:</label>
							<?php 
								if (isset($this->data['Modified']['username']) && !empty($this->data['Modified']['username'])) :
									echo $this->data['Modified']['username'] . " (" . $this->data['Modified']['first_name'] . " " .  $this->data['Modified']['last_name'] . ")";
								else:
									echo 'N/A';
								endif;
							?>
						</div>
						<div class="input text required">
							<label for="ProviderTypeModified">Modified On:</label>
							<?php 
								if (isset($this->data['Modified']['username']) && !empty($this->data['Modified']['username'])) :
									echo $this->Time->format('m/d/Y h:i:s a', $this->data['ProviderType']['modified']); 
								else:
									echo '&nbsp';
								endif;
							?>
						</div>
						<?php echo $this->Form->hidden('ProviderType.id'); ?>
    				</fieldset>
				</div>
				<div class="clear"></div>
		</div>
		<!-- end tab right -->
	</div>
	<!-- tab content -->
	<div class="clear"></div>
</div>
</form>
<script type="text/javascript">
	
	jQuery.validator.messages.required = "";
	$(document).ready(function(){
		$("#editform").validate({
			invalidHandler: function(e, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					var message = errors == 1
						? 'You missed 1 field. It has been highlighted below'
						: 'You missed ' + errors + ' fields.  They have been highlighted below';
					$("div.errormsg span").html(message);
					$("div.errormsg").show();
				} else {
					$("div.errormsg").hide();
				}
			},
  			rules: {
  				name: "required",
  				status: "required",
  				servicetypeid: "required"
  			}
		});
  	});
	
</script>