<!-- start tabblock -->
<div class="tab_block2">
	<!-- start tab_nav -->
	 <?php echo $this->element('titleBar', array('returnLink' => '/Admin/Index', 'title'=>'System Maintenance: Provider Types List', 'save'=>FALSE)); ?>	
	<!-- end tab_nav -->
             
	<!-- tab content -->
	<div class="tab_block2_content">
		<!-- tab left -->
		<div class="tab_block2_left">
			<?php echo $this->element('system_maintenance', array('addLink' => '/admin/ProviderTypes/edit/0')); ?>
		</div>
		<!-- tab left -->
		
		<!-- tab right -->
		
		<!-- table box -->
		<div class="tab_block2_right table_box">
                	
			<table id="data">
				<!-- th1 -->
				<thead>
					<tr class="th1">
						<th class="td" style="width:90px;"><span class="colHeader">Name</span></th>
						<th class="td" style="width:120px;"><span class="colHeader">Service Type</span></th>
						<th class="td" style="width:140px;"><span class="colHeader">Date Created</span></th>
						<th class="td" style="width:140px;""><span class="colHeader">Created By</span></th>
						<th class="td" style="width:127px;"><span class="colHeader">Status</span></th>
					</tr>
				</thead>
				<!--  End th1 -->
				
				<!--  table body -->
				<tbody>
					<?php foreach($ProviderTypes as $ProviderType) : ?>
					<tr class="tr1">	
						<td class="td" style="width:90px;"><?php echo $ProviderType['ProviderType']['name']; ?></td>
						<td class="td" style="width:120px;"><?php echo $ProviderType['ProviderType']['service_type']; ?></td>
						<td class="td" style="width:140px;"><?php echo $this->Time->format('m/d/Y h:i:s a', $ProviderType['ProviderType']['created']); ?></td>
						<td class="td" style="width:140px;"><?php echo $ProviderType['Created']['username']; ?></td>
						<td class="td" style="width:127px;">
							<table border="0" class="actions" width="100%">
								<tr>
									<td style="width:86px"><?php echo ($ProviderType['ProviderType']['status'] == 1 ? 'Active' : 'Inactive'); ?></td>
									<td>&nbsp;<a class="detail" href="/admin/ProviderTypes/edit/<?php echo $ProviderType['ProviderType']['id']; ?>">Details</a></td>
								</tr>
							</table>
						</td>
					</tr>
					<?php endforeach; ?>
				</tbody>
				<!--  End table body -->
			</table>
		</div>
		<!-- end tab right -->
		
	</div>
	<!-- tab content -->
	<div class="clear"></div>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#data').dataTable( {
			"sScrollY": "450px",
			"bPaginate": false,
			"bFilter": false,
			"bInfo": false,
			"oLanguage": {
				"sZeroRecords": "No records to display"
			},
			"aoColumns"   : [null, null, null, null, { "bSortable": false }],
		});
	});
</script>