<!-- start tabblock -->
        <div class="tab_block2">
        	<!-- start tab_nav -->
            <div class="tab_nav">
            	<ul>
                	<li><a href="/Patients/index"><?php echo $this->Html->image('ico_patents.png', array('alt' => 'Patients'));?> Patients</a></li>
                    <li><a href="/Facilities/index" class="active"><?php echo $this->Html->image('ico_facilities.png', array('alt' => 'Facilities'));?>Facilities</a></li>           
                    <li><a href="/Providers/index"><?php echo $this->Html->image('ico_providers.png', array('alt' => 'Providers'));?>Providers</a></li>
                </ul>
             </div>	
             <!-- end tab_nav -->
             <!-- tab content -->
             <div class="tab_block2_content">
             	<!-- tab left -->
                <div class="tab_block2_left">
                <form action="/Facilities/index" class="search" method="post" name="searchFilter">
                <div>
                	<!-- row1 -->
                    <div class="row1">
                    	<label for="field1">Search</label>
                        <input type="text" name="field" id="field1" value="" class="input1" />
                        <input type="button" name="search" value="" class="button1" onClick="document.searchFilter.submit();"/>
                    </div>
                    <!-- row1 -->
                    <!-- row2 -->
                    <div class="row1">
                    	<label for="listmenu1">Filter</label>
                    	<?php
							echo $this->Form->input('states', array(
    							'options' => $states,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All States'));
						?>
                    </div>
                    <!-- row2 -->
                    <!-- row3 -->
                    <div class="row1">
                    	<label for="listmenu2">Filter</label>
                        <?php
							echo $this->Form->input('regions', array(
    							'options' => $regions,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All Regions'));
						?>
                    </div>
                    <!-- row3 -->
                    <!-- row4 -->
                    <div class="row1">
                    	<label for="check" class="check"><input type="checkbox" name="inactive" id="inactive" class="left" /> Include Inactive</label>
                    </div>
                    <!-- row4 -->
                    <input type="button" name="add" value="" class="button2" onClick="document.location.href='/Facilities/Edit/0';"/>
                </div>
                </form>
                </div>
                <!-- tab left -->
                <!-- tab right -->
                <div class="tab_block2_right">
                <!-- th1 -->
                	<table id="data">
                		<thead >
                			<tr class="th1">
                				<th class="td2" style="width:142px;">Name</th>
                				<th class="td2">City</th>
                				<th class="td3" style="width:30px;">State</th>
                				<th class="td1" style="width:60px;">Region</th>
                				<th class="td4" style="width:280px;">Phone</th>
                			</tr>
                		</thead>
                   		<tbody>
                    	<?php foreach($facilities as $facility) : ?>
                    		<tr class="tr1">	
                    			<td class="td2 td5" style="width:142px;" title="<?php echo $facility['Facility']['name']; ?>"><?php echo ucwords(strtolower(substr($facility['Facility']['name'],0,22))); ?></td>
                        		<td class="td2 td7"><?php echo ucwords(strtolower($facility['Facility']['city'])); ?></td>
                        		<td class="td3 td8" style="width:30px;"><?php echo $facility['Facility']['state']; ?></td>
                        		<td class="td1 td8" style="width:60px;"><?php echo $facility['Region']['name']; ?></td>
                        		<td class="td4 td8" style="width:280px;">
                         			<span><?php echo $facility['Facility']['phone']; ?></span>&nbsp;&nbsp;<span><a class="detail" href="/Facilities/Edit/<?php echo $facility['Facility']['id']; ?>">Details</a></span>&nbsp;&nbsp;<span><a href="#">Create Log</a>&nbsp;&nbsp;<a href="#">Add Chat</span></a>
                        		</td>
                    		</tr>
                    	<?php endforeach; ?>
						</tbody>
                	</table>
                </div>
                <!-- tab right -->
             </div>
             <!-- tab content -->
        <div class="clear"></div>
        </div>
        <!-- end tabblock -->
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				
				var oTable = $('#data').dataTable( {
					"sScrollY": "450px",
					"bPaginate": false,
					"bFilter": true,
					"bInfo": false,
					"oLanguage": {
			            "sZeroRecords": "No records to display"
			        }
				} );
				
				$("#data_filter").hide();
				
				 $("#states", this).change( function () {
			            oTable.fnFilter($(this).val(), 2, false, false);
			        } );
				 
				 $("#regions", this).change( function () {
			            oTable.fnFilter($(this).val(), 3, false, false);
			        } );
			} );
		</script>