<!-- start tabblock -->
        <div class="tab_block2">
        	<!-- start tab_nav -->
            <div class="tab_nav">
            	<ul>
                	<li><a href="/Patients/index"><?php echo $this->Html->image('ico_patents.png', array('alt' => 'Patients'));?> Patients</a></li>
                    <li><a href="/Facilities/index" class="active"><?php echo $this->Html->image('ico_facilities.png', array('alt' => 'Facilities'));?>Facilities</a></li>           
                    <li><a href="/Providers/index"><?php echo $this->Html->image('ico_providers.png', array('alt' => 'Providers'));?>Providers</a></li>
                </ul>
             </div>	
             <!-- end tab_nav -->
             <!-- tab content -->
             <div class="tab_block2_content">
             	<!-- tab left -->
                <div class="tab_block2_left">
                <form action="/Facilities/index" class="search" method="post" name="searchFilter" id="searchFilter">
                <div>
                	<!-- row1 -->
                    <div class="row1">
                    	<label for="field1">Search</label>
                        <input type="text" name="searchFld" id="searchFld" class="input1" value="<?php echo $searchFld; ?>"/>
                        <input type="button" name="search" value="" class="button1" onClick="document.searchFilter.submit();"/>
                    </div>
                    <!-- row1 -->
                    <!-- row2 -->
                    <div class="row1">
                    	<label for="listmenu1">Filter</label>
                    	<?php
							echo $this->Form->input('states', array(
    							'options' => $states,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All States'));
						?>
                    </div>
                    <!-- row2 -->
                    <!-- row3 -->
                    <div class="row1">
                    	<label for="listmenu2">Filter</label>
                        <?php
							echo $this->Form->input('regions', array(
    							'options' => $regions,
								'class' => 'list',
								'div' => false,
								'label' => false,
   								'empty' => 'All Regions'));
						?>
                    </div>
                    <!-- row3 -->
                    <!-- row4 -->
                    <div class="row1">
                    	<input type="checkbox" name="inactiveFlg" id="inactiveFlg" class="left" value="1" <?php echo ($inactiveFlg == "1" ? "checked" : ""); ?>/> Include Inactive</label>
                    </div>
                    <!-- row4 -->
                    <input type="button" name="add" value="" class="button2" onClick="document.location.href='/Facilities/Edit/0';"/>
                </div>
                </form>
                </div>
                <!-- tab left -->
                <!-- tab right -->
                <div class="tab_block2_right">
                <!-- th1 -->
                	<table id="data">
                		<thead >
                			<tr class="th1">
                				<th class="td" style="width:142px;"><span class="colHeader">Name</span></th>
                				<th class="td" style="width:112px;"><span class="colHeader">City</span></th>
                				<th class="td" style="width:60px;"><span class="colHeader">State</span></th>
                				<th class="td" style="width:60px;"><span class="colHeader">Region</span></th>
                				<th class="td" style="width:280px;"><span class="colHeader">Phone</span></th>
                			</tr>
                		</thead>
                   		<tbody>
                    	<?php foreach($facilities as $facility) : ?>
                    		<tr class="tr1">	
                    			<td class="td" style="width:142px;" title="<?php echo $facility['Facility']['name']; ?>"><?php echo ucwords(strtolower(substr($facility['Facility']['name'],0,22))); ?></td>
                        		<td class="td" style="width:112px;"><?php echo ucwords(strtolower($facility['Facility']['city'])); ?></td>
                        		<td class="td" style="width:60px;"><?php echo $facility['Facility']['state']; ?></td>
                        		<td class="td" style="width:60px;"><?php echo $facility['Region']['name']; ?></td>
                        		<td class="td" style="width:280px;">
                         			<table border="0" class="actions" width="100%">
										<tr>
											<td style="width:86px"><?php echo $facility['Facility']['phone']; ?></td>
											<td>&nbsp;<a class="detail" href="/Facilities/Edit/<?php echo $facility['Facility']['id']; ?>">Details</a></td>
											<td>&nbsp;<a href="#">Create Log</a></td>
											<td>&nbsp;<a href="#">Add Chat</a></td>
										</tr>
									</table>
                        		</td>
                    		</tr>
                    	<?php endforeach; ?>
						</tbody>
                	</table>
                </div>
                <!-- tab right -->
             </div>
             <!-- tab content -->
        <div class="clear"></div>
        </div>
        <!-- end tabblock -->
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				
				var oTable = $('#data').dataTable( {
					"sScrollY": "450px",
					"bPaginate": false,
					"bFilter": true,
					"bInfo": false,
					"aoColumns": [null, null,null, null, { "bSortable": false }],
					"oLanguage": {
			            "sZeroRecords": "No records to display"
			        }
				} );
				
				$("#data_filter").hide();
				
				 $("#states", this).change( function () {
			            oTable.fnFilter($(this).val(), 2, false, false);
			        } );
				 
				 $("#regions", this).change( function () {
			            oTable.fnFilter($(this).val(), 3, false, false);
			        } );
				 
				 $("#searchFld", this).click( function() {
					 if ($(this).val() != "") {
						$(this).val(""); 
					 }
				 });
				 
				 $('#inactiveFlg').click( function() {
						$('#searchFilter').submit();
					});
			} );
		</script>