<!-- start tabblock -->
<div class="tab_block2">
	<!-- start tab_nav -->
	 <?php echo $this->element('titleBar', array('returnLink' => '/Patients/Index', 'title'=>'System Maintenance', 'save'=>FALSE)); ?>	
	<!-- end tab_nav -->
             
	<!-- tab content -->
	<div class="tab_block2_content">
		<!-- tab left -->
		<div class="tab_block2_left">
			<?php echo $this->element('system_maintenance'); ?>
		</div>
		<!-- tab left -->
		
		<!-- tab right -->
		<div class="tab_block2_right table_box">
                	
		</div>
		<!-- tab right -->
		
	</div>
	<!-- tab content -->
	<div class="clear"></div>
</div>

<!-- end tabblock -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#data').dataTable( {
			"sScrollY": "450px",
			"bPaginate": false,
			"bFilter": false,
			"bInfo": false,
			"oLanguage": {
				"sZeroRecords": "No records to display"
			}
		});
	});
</script>